body{
    background-color: rgb(180,180,180);
}

header{
    height: 60px;
    border-bottom: 2px solid rgb(0,175,0);
}

#pageTitle{
    float: left;
    width: 196px;
    margin-top: 3px;
    margin-left: 10px;
}


a{
    color: rgb(0,0,0);
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: rgb(0,175,0);
    text-decoration: none;
}

#signUpBtn{
    position: relative;
    float: right;
    background-color: rgb(0,175,0);
    width: 86px;
    height: 34px;
    top: 12px;
    right: 13px;
    text-align: center;
    -webkit-transition-duration: 125ms;
    transition-duration: 125ms;
    transition-timing-function: linear;
}

#signUpBtn:hover{
    background-color: rgb(255,255,255);
    
}

section{
    position: relative;
    clear: left;
    top: 5px;
    left: 5px;
}
